<div></div>
<div>

<h3 style:"display:inline;">Ref.No.: </h3>
<h3 >Date: <%= Time.zone.now%> </h3>
</div>
<h3 style="width:100%; font-size:20px; text-align:center; margin: 10px 0;">
  DEPARTMENT CERTIFICATE REGARDING THE CONSIGNMENT
</h3>


<table id="table" border="1" 
       style="width: 100%; font-size: 20px; border-collapse: collapse; margin-bottom:5%;">
  <tr>
    <th style="text-align: left; padding: 12px; width: 30%; font-size: 20px;">Order No</th>
    <td style="padding: 12px; font-size: 20px;"><%= info.orderNo %></td>
  </tr>
  <tr>
    <th style="text-align: left; padding: 12px; width: 30%; font-size: 20px;">Firm Name</th>
    <td style="padding: 12px; font-size: 20px;">M/s <%= info.firmName %>, Bangalore</td>
  </tr>
  <tr>
    <th style="text-align: left; padding: 12px; width: 30%; font-size: 20px;">Bill No</th>
    <td style="padding: 12px; font-size: 20px;"><%= info.billNo %></td>
  </tr>
  <tr>
    <th style="text-align: left; padding: 12px; width: 30%; font-size: 20px;">Amount</th>
    <td style="padding: 12px; font-size: 20px;">₹ <%= info.amount %></td>
  </tr>
  <tr>
    <th style="text-align: left; padding: 12px; width: 30%; font-size: 20px;">Location</th>
    <td style="padding: 12px; font-size: 20px;"><%= info.location %></td>
  </tr>
</table>
<table>
<tr>
<div>
<th>1.</th>
<td style="padding:10px;">Certified that bill and the articles are entered in folio page no. <b>ACC-VIII 115A</b> and serial no. <b>6780</b> of the Accession Register of the Computer Science & Engineering Department.</td>
</tr>
</div>
<div>
<tr>
<th>2.</th>
<td style="text-align:center; padding:10px;">Certified that the Articles detailed in the bill are referred to above, are received in good condition except the items detailed below.</td>
</tr>
</div>
<div>
<tr>
<th>3.</th>
<td style="text-align:center; padding:10px;">Certified that <b>Sl. no. 43</b> of the stock page no. <b>200A</b> of <b>CE III Stock Register</b> of the Computer Science & Engineering department.</td>
</tr>
</div>



</table>

<table style="margin:3%">
<div>
<tr style="margin:3%">
<th>
DEBIT HEAD : 
</th>
<td style:"padding-left:9%;">
EMBRACE PROJECT-Dr. MOHIT P TAHILIANI
</td>
</tr>
</div>
<div>
<tr style="margin-top:3%">
<th>
CATEGORY : 
</th>
<td>
Consumables
</td>
</tr>
</div>
</table>

<table>
<td>
Signature:
</td>

</table>

<div></div>
<table style="margin-top:4%;">
<td>
Signature(HOD):
</td>

</th>
</table>




<h3 style="width:100%; font-size:20px; text-align:center; margin: 10px 0;">
 DETAILS OF THE ARTICLES DAMAGED/SHORT SUPPLY ETC.
</h3>